<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu">
        <li class="header">MAIN NAVIGATION</li>
		 <li class="treeview">
          <a href="#">
            <i class="fa fa-archive"></i>
            <span>Masters</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
		  <li><a href="#List/Customer/List"><i class="fa fa-circle-o"></i> Customer</a></li>
            <li><a href="#List/Supplier/List"><i class="fa fa-circle-o"></i> Supplier</a></li>
            <li><a href="#List/Item/List"><i class="fa fa-circle-o"></i>  Item</a></li>
			<li><a href="#query-report/Addresses And Contacts"><i class="fa fa-circle-o"></i> List Print</a></li>
			
            
          </ul>
        </li>
		 <li class="treeview">
          <a href="#">
            <i class="fa fa-line-chart"></i>
            <span>Sales</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
		  <li><a href="#List/Sales Invoice"><i class="fa fa-circle-o"></i>  Sales Invoice</a></li>
            <li><a href="#List/Quotation"><i class="fa fa-circle-o"></i>  Quotation</a></li>
            <li><a href="#List/Sales Order"><i class="fa fa-circle-o"></i>  Sales Order</a></li>
            <li><a href="#sales-analytics"><i class="fa fa-circle-o"></i>  Sales Analytics</a></li>
			<li><a href="#List/Delivery Note"><i class="fa fa-circle-o"></i> Delivery Note </a></li>
							<li><a href="#query-report/Customer Credit Balance"><i class="fa fa-circle-o"></i> Customer Credit Balance</a></li>
          </ul>
        </li>
  <!--    <li class="treeview">
          <a href="#">
            <i class="fa fa-phone-square"></i>
            <span>CRM</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="#List/Lead"><i class="fa fa-circle-o"></i> Lead</a></li>
            <li><a href="#List/Customer"><i class="fa fa-circle-o"></i> Customer</a></li>
            <li><a href="#List/Opportunity"><i class="fa fa-circle-o"></i> Opportunity</a></li>
            <li><a href="#List/Contact"><i class="fa fa-circle-o"></i> Contact</a></li>
            <li><a href="#List/Address"><i class="fa fa-circle-o"></i> Address</a></li>
            <li><a href="#modules/CRM"><i class="fa fa-circle-o"></i> More...</a></li>
          </ul>
        </li>
       -->
        <li class="treeview">
          <a href="#">
            <i class="fa fa-building"></i>
            <span>Purchase</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
		  <li><a href="#List/Purchase Order"><i class="fa fa-circle-o"></i> Purchase Order</a></li>
		   <li><a href="#List/Purchase Invoice"><i class="fa fa-circle-o"></i> Purchase Invoice</a></li>
		      <li><a href="#List/Purchase Receipt"><i class="fa fa-circle-o"></i> Purchase Receipt</a></li>
           
			<li><a href="#List/Supplier"><i class="fa fa-circle-o"></i> Supplier</a></li>
          
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-cubes"></i>
            <span>Stock</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="#List/Item"><i class="fa fa-circle-o"></i> Item</a></li>                
          <li><a href="#List/Stock Entry/List"><i class="fa fa-circle-o"></i> Material Transfer</a></li>
            <li><a href="#List/Stock Entry/List"><i class="fa fa-circle-o"></i> Stock Entry</a></li>
            <li><a href="#List/Stock Reconciliation/List"><i class="fa fa-circle-o"></i> Stock Reconciliation</a></li>
			<li><a href="#query-report/Stock Ledger"><i class="fa fa-circle-o"></i> Stock Ledger</a></li>
			<li><a href="#query-report/Stock Balance"><i class="fa fa-circle-o"></i> Stock Balance</a></li>
				<li><a href="#query-report/Item Shortage Report"><i class="fa fa-circle-o"></i> Item Shortage Report</a></li>
			<li><a href="#query-report/Stock Projected Qty"><i class="fa fa-circle-o"></i> Stock Projected Qty</a></li>
			<li><a href="#query-report/Stock Summary"><i class="fa fa-circle-o"></i> Stock Summary</a></li>
			<li><a href="#query-report/Item Price Stock"><i class="fa fa-circle-o"></i> Item Price Stock</a></li>
		

			
          </ul>
        </li>
   <!--     <li class="treeview">
          <a href="#">
            <i class="fa fa-file-powerpoint-o"></i>
            <span>Projects</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="#List/Project/List"><i class="fa fa-circle-o"></i> Project</a></li>
            <li><a href="#List/Task/List"><i class="fa fa-circle-o"></i> Task</a></li>
            <li><a href="#modules/Projects"><i class="fa fa-circle-o"></i> More...</a></li>
          </ul>
        </li>-->
       <!-- <li class="treeview">
          <a href="#">
            <i class="fa fa-life-ring"></i>
            <span>Support</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="#List/Issue"><i class="fa fa-circle-o"></i> Issue</a></li>
            <li><a href="#List/Maintenance Visit/List"><i class="fa fa-circle-o"></i> Maintenance Visit</a></li>
            <li><a href="#List/Maintenance Schedule/List"><i class="fa fa-circle-o"></i> Maintenance Schedule</a></li>
            <li><a href="#List/Warranty Claim/List"><i class="fa fa-circle-o"></i> Warranty Claim</a></li>
            <li><a href="#modules/Support"><i class="fa fa-circle-o"></i> More...</a></li>
          </ul>
        </li>-->
   <!--     <li class="treeview">
          <a href="#">
            <i class="fa fa-male"></i>
            <span>Human Resources</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="#List/Leave Application/List"><i class="fa fa-circle-o"></i> Leave Application</a></li>
            <li><a href="#List/Timesheet"><i class="fa fa-circle-o"></i> Timesheet</a></li>
            <li><a href="#List/Appraisal"><i class="fa fa-circle-o"></i> Performance Appraisal</a></li>
            <li><a href="#List/Training Event"><i class="fa fa-circle-o"></i> Training Event</a></li>
            <li><a href="#modules/HR"><i class="fa fa-circle-o"></i> More...</a></li>
          </ul>
        </li>-->
    
		 <li class="treeview">
          <a href="#">
            <i class="fa fa-calculator"></i>
            <span>Accounts</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
                      
            <li><a href="#List/Payment Entry"><i class="fa fa-circle-o"></i> Payment Entry</a></li>
 <li><a href="#List/Journal%20Entry/List"><i class="fa fa-circle-o"></i> Journal Entry</a></li>
 <li><a href="#query-report/General%20Ledger"><i class="fa fa-circle-o"></i> General Ledger</a></li>
 
            <li><a href="#query-report/Accounts Receivable"><i class="fa fa-circle-o"></i> Accounts Receivable</a></li>
            <li><a href="#query-report/Accounts Payable"><i class="fa fa-circle-o"></i> Accounts Payable</a></li>
            <li><a href="#query-report/Trial Balance"><i class="fa fa-circle-o"></i> Trial Balance</a></li>
            <li><a href="#query-report/Balance Sheet"><i class="fa fa-circle-o"></i> Balance Sheet</a></li>
            <li><a href="#query-report/Cash Flow"><i class="fa fa-circle-o"></i> Cash Flow</a></li>
            <li><a href="#query-report/Profit and Loss Statement"><i class="fa fa-circle-o"></i> Profit and Loss Statement</a></li>
     
          </ul>
        </li>
		    <li class="treeview">
          <a href="#">
            <i class="fa fa-align-justify"></i>
            <span>Other Reports</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
                      
            <li><a href="#query-report/Trial Balance for Party"><i class="fa fa-circle-o"></i> Trial Balance for Party</a></li>
 <li><a href="#query-report/Profitability Analysis"><i class="fa fa-circle-o"></i> Profitability Analysis</a></li>
 <li><a href="#query-report/Payment Period Based On Invoice Date"><i class="fa fa-circle-o"></i> Payment Period Based On Invoice Date</a></li>
 
            <li><a href="#query-report/Item-wise Sales Register"><i class="fa fa-circle-o"></i> Item-wise Sales Register</a></li>
            <li><a href="#query-report/Item-wise Purchase Register"><i class="fa fa-circle-o"></i> Item-wise Purchase Register</a></li>
            <li><a href="#query-report/Accounts Receivable Summary"><i class="fa fa-circle-o"></i> Accounts Receivable Summary</a></li>
            <li><a href="#query-report/Accounts Payable Summary"><i class="fa fa-circle-o"></i> Accounts Payable Summary</a></li>
            <li><a href="#query-report/Customer Credit Balance"><i class="fa fa-circle-o"></i> Customer Credit Balance</a></li>
            <li><a href="#query-report/Gross Profit Analytics"><i class="fa fa-circle-o"></i> Gross Profit </a></li>
			 <li><a href="#query-report/Purchase Invoice Trends"><i class="fa fa-circle-o"></i> Purchase Invoice Trends</a></li>
			 <li><a href="#query-report/Sales Invoice Trends"><i class="fa fa-circle-o"></i> Sales Invoice Trends</a></li>
     
          </ul>
        </li>
		
     
		</ul>
    </section>
	<center>
<a href="https://m20zero.com" target="_blank"><img src="https://erp.solankimission.com/files/M20ZeroERPlogo.png" alt="M20Zero" width="100%" height="100%"></a><center>
    <!-- /.sidebar -->
  </aside>
  <div class="overlay"><div>